body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #1e1e1e;
}
#drive {
  display: flex;
  gap: 2rem;
}
.sidebar {
  width: 250px;
  height: 900px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: #57acdc;
  width: 128px;
  height: 44px;
  border-radius: 50px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: white;
  line-height: 19.5px;
}
.sidebar button img {
  width: 20px;
}
.category {
  width: 100%;
  margin-top: 2rem;
}
.category ul {
  list-style: none;
  width: 100%;
  padding: 0;
}
.category ul li {
  display: flex;
  align-items: center;
  position: relative;
}
:root[dir="ltr"] .category ul li img {
  width: 24px;
  height: 24px;
  padding-left: 3.8rem;
}
:root[dir="rtl"] .category ul li img {
  width: 24px;
  height: 24px;
  padding-right: 3.8rem;
}

.category ul li:first-child {
  color: #57acdc;
}
.category ul li:last-child,
.storage span {
  color: #939393;
  padding-top: 2rem;
}

:root[dir="rtl"] .storage span {
  padding-right: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
:root[dir="ltr"] .storage span {
  padding-left: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

:root[dir="rtl"] .category ul li span {
  padding-right: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
:root[dir="ltr"] .category ul li span {
  padding-left: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

:root[dir="ltr"] .border {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
:root[dir="rtl"] .border {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.border {
  height: 32px;
  background-color: #57acdc;
  width: 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Droppex {
  width: 135px;
  height: 36px;
  padding-top: 40px;
}
.line1 {
  background-color: #1e1e1e;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
:root[dir="ltr"] .storage .storage-header {
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}
:root[dir="rtl"] .storage .storage-header {
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}

.pie-chart {
  position: relative;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  background: conic-gradient(#57acdc 0% 10%, #121212 10% 100%);
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  width: 170px;
  height: 201px;
  border-radius: 10px;
}
.chart-parent {
  margin-top: 3rem;
}
.child-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  color: #57acdc;
  font-family: "Quicksand", sans-serif;
}
.pie-chart-container p {
  color: #939393;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
}
/* end sidebar */
.main-drive-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_drive {
  padding-top: 40px;
  width: 78%;
}
.header-search {
  width: 627px;
  height: 48px;
  border: #939393 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.header-search div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-search input {
  background-color: transparent;
  border: none;
  color: white;
  width: 35rem;
}
.header-search input:focus {
  border: none;
  outline-style: none;
}
.header-search img {
  width: 24px;
}
.drag-drop {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 351px;
  height: 48px;
  border-color: #939393;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23939393FF' stroke-width='4' stroke-dasharray='4' stroke-dashoffset='11' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 10px;
}
.drag-drop img {
  padding: 0 10px;
  width: 30px;
  height: 30px;
}
.drag-drop p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(250, 250, 250, 0.7);
}
.drag-drop span {
  color: #57acdc;
  border-bottom: solid 1px #57acdc;
}
.header-img {
  width: 36px;
  height: 36px;
}
.user-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.user-info img {
  width: 25px;
  height: 25px;
}
.line2 {
  width: 100%;
  background-color: rgba(250, 250, 250, 0.1);
  height: 2px;
  margin: 10px 0 0 0;
}
/* selected folder */
.select-folder {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #939393;
}
.select-folder > div:first-child {
  padding: 15px 0;
}

.select-folder div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-folder img {
  width: 32px;
  height: 32px;
}
.border-left {
  border-left: rgba(250, 250, 250, 0.1) 2px solid;
}
.select-folder .item {
  padding: 5px 7px;
}
/* main drive */
.drive-header {
  padding-left: 10px;
  position: relative;
  background-color: #171717;
  height: 52px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: rgba(250, 250, 250, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* style checkbox */
.styled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #939393;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.styled-checkbox:checked {
  background-color: #57acdc;
  border-color: #57acdc;
}

.styled-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

:root[dir="ltr"] .drive-header img {
  position: absolute;
  right: 15px;
  width: 24px;
  top: 15px;
}
:root[dir="rtl"] .drive-header img {
  position: absolute;
  width: 24px;
  top: 15px;
  left: 15px;
}
.name {
  width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-align: left;
}
.Uploaded {
  width: 230px;
  text-align: left;
}
.View {
  width: 150px;
  text-align: left;
}
.Size {
  width: 150px;
  text-align: left;
}
.modified {
  width: 280px;

  text-align: left;
}
/* drive body */
.drive_container > div:nth-child(2n) {
  background-color: rgba(139, 139, 139, 0.06);
}
table {
  width: 100%;
}
.drive-body {
  padding-left: 10px;
  position: relative;
  height: 52px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: rgba(250, 250, 250, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
tr:nth-child(2n) {
  background-color: rgba(139, 139, 139, 0.06);
}
.drive-body img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root[dir="ltr"] .dott {
  position: absolute;
  width: 8px;
  height: 8px;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #57acdc;
}
:root[dir="rtl"] .dott {
  position: absolute;
  width: 8px;
  height: 8px;
  right: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #57acdc;
}

.uploaded-drives {
  max-height: 600px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  border-radius: 100px;
  background-color: rgba(18, 18, 18, 1);
}

::-webkit-scrollbar-thumb {
  margin: 10px 0;
  border-radius: 100px;
  background-color: rgba(23, 23, 23, 1);
}
